# Configuration de base de données
POSTGRES_DB=GradeManagement_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=vladimir

# Configuration JWT (IMPORTANT: Changer en production)
JWT_SECRET=N8POL/iezxnCH6K/zJ04SZFLEF5TrFmIgnjtoMq8wRM=
JWT_EXPIRATION_MS=86400000

# Configuration Admin par défaut
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminpass
ADMIN_EMAIL=admin@example.com

# Configuration serveur
SERVER_PORT=8088

# Environnement (dev, prod)
SPRING_PROFILES_ACTIVE=dev
